<h2>Contracts</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <th> Reference </th>
            <th> Name </th>
            <th> Leader(s)</th>
            <th> Project Type </th>
            <th> Start Date </th>
            <th> Finish Date </th>
            <th> Funders </th>
            <th> Researchers </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input ng-model="contract.reference" /></td>
            <td><input ng-model="contract.nmContract" /></td>
            <td><input ng-model="contract.leader" /></td>
            <td><input ng-model="contract.projectType" /></td>
            <td><input ng-model="contract.startDate" /></td>
            <td><input ng-model="contract.finishDate" /></td>
            <td><input ng-model="contract.funders" /></td>
            <td><input ng-model="contract.researchers" /></td>
            <td>
                <button class="btn btn-primary" ng-click="addContract()">Add</button>
                <button class="btn btn-primary" ng-click="search()">Search</button>
            </td>
        </tr>
        <tr ng-repeat="contract in contracts">
            <td><a href="#!/contracts/{{contract.idContract}}">{{contract.reference}}</a></td>
            <td>{{contract.nmContract}}</td>
            <td>{{contract.leader}}</td>
            <td>{{contract.projectType}}</td>
            <td>{{contract.startDate}}</td>
            <td>{{contract.finishDate}}</td>
            <td>{{contract.funders}}</td>
            <td>{{contract.researchers}}</td>
            <td>
                <button class="btn btn-danger" ng-click="deleteContract(contract.idContract)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
